<footer class="page-footer">
    <strong class="footer_title">
        Как нас найти
    </strong>
    <span class="footer_description">
        При въезде стоит знак "кирпич" (кроме клиентов), Вам сюда
    </span>
    <div class="footer__black-map">
        <a href="https://yandex.ru/maps/213/moscow/?from=api-maps&amp;ll=37.614616%2C55.860985&amp;mode=routes&amp;origin=jsapi_2_1_78&amp;rtext=55.863926%2C37.605700~55.860539%2C37.621793&amp;rtt=pd&amp;ruri=~&amp;z=16" target="_blank" data-group="">
            <img src="{{ asset('img/footer-map.svg') }}" alt=""/>
        </a>
    </div>
    <div class="uk-section-xsmall uk-container">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{ asset('img/footer-logo.png') }}" alt="Styled.cc"/>
            </div>
            <div class="col-sm-9">
                {{ footer_menu() }}
            </div>

        </div>
    </div>
    {#<div class="btn-fixed">
        <a class="calc-btn" href="{{ path('calculator') }}">
            <img src="/assets/images/icons/calc.png" alt="Калькулятор"/>
            Калькулятор
        </a>
        <a class="repairs-btn js-popup-trigger" href="#">
            <span data-uk-icon="cog"></span>
            Записаться на ремонт
        </a>
    </div>#}


</footer>


