<div class="block_advantages-home">
    <div class="container container2">
        <div class="block_advantages-home__wrapper d-flex justify-content-between flex-column flex-sm-row">
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-inner1.png') }}" class="hvr-bounce-in" alt="Много лет на рынке"/>
                <span class="hvr-bounce-in">Премиум материалы</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-inner2.png') }}" class="hvr-rotate" alt="Гарантия на все виды работ"/>
                <span class="hvr-rotate">Комфорт</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-inner3.png') }}" class="hvr-rotate" alt="Свое печатное производство"/>
                <span class="hvr-rotate">Бесследный разбор</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-inner4.png') }}" class="hvr-skew-forward" alt="Свой отдел дизайна"/>
                <span class="hvr-skew-forward">Гарантия</span>
            </div>
        </div>

    </div>
</div>