<div class="block_advantages-home">
    <div class="container container2">
        <h2>Наши преимущества</h2>
        <div class="block_advantages-home__wrapper d-flex justify-content-between">
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon1.png') }}" class="hvr-grow" alt="Много лет на рынке"/>
                <span class="hvr-grow">С 2010 года на рынке</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon2.png') }}" class="hvr-grow" alt="Гарантия на все виды работ"/>
                <span class="hvr-grow">Гарантия на все виды работе</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon3.png') }}" class="hvr-grow" alt="Свое печатное производство"/>
                <span class="hvr-grow">Свое печатное производство</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon4.png') }}" class="hvr-grow" alt="Свой отдел дизайна"/>
                <span class="hvr-grow">Свой отдел дизайна</span>
            </div>
        </div>
    </div>
</div>