{% extends 'error.html.twig' %}

{% block breadcrumbs %}
    <section id="breadcrumbs" style="margin-top: 100px;">
        <div class="breadcrumbs_wrapper">
                    <span class="navigation_item">
                    <a href="/">Главная</a>
                        <span>&#8646;</span>
                </span>
                    <span class="navigation_item">
                    <a href="#">Старница не найдена</a>

                </span>
        </div>
        {{ include('v2/blocks/section/rating_schema.html.twig',{ page: page ?? null }) }}
    </section>
{% endblock %}

{% block body %}
    <div class="container container2">
        <div class="alert alert-info" role="alert">
            <h1 class="title">Данная страница не найдена!</h1>
        </div>
        <p  style="color: #ffffff">Возможно, Вы неправильно ввели адрес в адресной строке браузера.</p>
        <p style="font-weight: bold; color: #ffffff;">Что можно сделать?</p>
        <p  style="color: #ffffff">Вы можете посетить другие разделы ресурса, воспользовавшись основным меню сайта или перейти на <a href="/">главную страницу</a> сайта.</p>
    </div>
{% endblock %}
